<form name="search-dictionary" class="box is-hidden">
  <label class="label">
    Search for:
    <input type="text" name="q" class="control input" />
  </label>
  <fieldset class="field">
    <legend class="label">Search within:</legend>
    <div class="control">
      <label class="radio">
        <input type="radio" name="in" value="text" checked />
        Plaintext
      </label>
      <label class="radio">
        <input type="radio" name="in" value="orthic" />
        Orthic
      </label>
    </div>
  </fieldset>
  <button type="submit" class="button is-link">Search</button>
  <button id="search-dictionary-clear" class="button is-outlined ml-6">
    Clear
  </button>
  <output
    id="search-dictionary-results"
    class="notification is-light mt-4 is-hidden"
  ></output>
</form>
<script async>
  /** The form fields, for keying into the FormData. */
  const FormDataKey = {
    query: 'q',
    in: 'in',
  }
  /** Valid options for what to search within, for matching against formData[FormDataKey.in]. */
  const In = {
    plaintext: 'text',
    orthic: 'orthic',
  }

  function onSubmitFormSearchDictionary(event) {
    event.preventDefault()

    const formData = new FormData(document.forms['search-dictionary'])
    const query = formData.get(FormDataKey.query)
    const within = formData.get(FormDataKey.in)
    switch (within) {
      default:
        console.warn(
          'unexpected value for form data key ' +
            FormDataKey.in +
            ': ' +
            within +
            '. Treating as plaintext.'
        )
      // FALLTHROUGH
      case In.plaintext:
        showAllExamplesOfEntriesWithPlaintextMatching(query)
        break

      case In.orthic:
        showOnlyExamplesOfEntriesWithNotationMatching(query)
        break
    }

    // Pretend we navigated to the URL that would reproduce this search.
    // Gotcha: It's not actually navigating, so now we also need to handle popstate events.
    const searchParams = new URLSearchParams(formData)
    const search = searchParams.toString()
    const url = new URL(document.URL)
    // Another gotcha: url.search includes a leading question mark, but URLSearchParams.toString() does not.
    if ('?' + search !== url.search) {
      url.search = searchParams.toString()
      history.pushState({}, '', url)
    }
  }

  function showAllExamplesOfEntriesWithPlaintextMatching(/** @type{string} */query) {
    const lowercaseTrimmedQuery = query.trim().toLowerCase()
    const showAll = lowercaseTrimmedQuery === ''
    const anchors = document.querySelectorAll('a[data-plaintext]')
    let entryCount = 0
    for (const anchor of anchors) {
      const plaintext = anchor.dataset.plaintext.replaceAll('\\"', '"').toLowerCase()
      const isMatch = showAll || plaintext.includes(lowercaseTrimmedQuery)

      const entry = anchor.closest('li')
      if (isMatch) {
        entryCount += 1
        entry.classList.remove('is-hidden')
        // Ensure every example for the entry is visible.
        const codes = entry.querySelectorAll('code[data-orthic]')
        for (const code of codes) {
          const example = code.closest('li')
          example.classList.remove('is-hidden')
        }
      } else {
        entry.classList.add('is-hidden')
      }
    }

    // Report results.
    const statusBox = document.querySelector('#search-dictionary-results')
    statusBox.classList.remove(
      'is-info',
      'is-success',
      'is-warning',
      'is-hidden'
    )
    if (showAll) {
      statusBox.classList.add('is-info')
      statusBox.textContent = 'Search cleared. All entries and examples shown.'
    } else {
      statusBox.classList.add(entryCount > 0 ? 'is-success' : 'is-warning')
      statusBox.textContent =
        'Found ' +
        entryCount +
        (' entr' + (entryCount !== 1 ? 'ies' : 'y')) +
        ' whose plaintext contains ' +
        ('“' + query + '”.')
    }
  }

  function showOnlyExamplesOfEntriesWithNotationMatching(query) {
    const showAll = query === ''
    const anchors = document.querySelectorAll('a[data-plaintext]')
    let entryCount = 0
    let totalMatchCount = 0
    for (const anchor of anchors) {
      const entry = anchor.closest('li')

      let matchCount = 0
      const codes = entry.querySelectorAll('code[data-orthic]')
      for (const code of codes) {
        const orthic = code.dataset.orthic.replaceAll('\\"', '"')
        const isMatch = showAll || orthic.includes(query)

        const example = code.closest('li')
        if (isMatch) {
          matchCount += 1
          example.classList.remove('is-hidden')
        } else {
          example.classList.add('is-hidden')
        }
      }

      const shouldHideEntireEntry = matchCount === 0
      entryCount += matchCount > 0 ? 1 : 0
      if (shouldHideEntireEntry) {
        entry.classList.add('is-hidden')
      } else {
        entry.classList.remove('is-hidden')
      }
      totalMatchCount += matchCount
    }

    // Report results.
    const statusBox = document.querySelector('#search-dictionary-results')
    statusBox.classList.remove(
      'is-info',
      'is-success',
      'is-warning',
      'is-hidden'
    )
    if (showAll) {
      statusBox.classList.add('is-info')
      statusBox.textContent = 'Search cleared. All entries and examples shown.'
    } else {
      statusBox.classList.add(entryCount > 0 ? 'is-success' : 'is-warning')
      statusBox.textContent =
        'Showing ' +
        totalMatchCount +
        (' example' + (totalMatchCount !== 1 ? 's' : '')) +
        ' across ' +
        entryCount +
        (' entr' + (entryCount !== 1 ? 'ies' : 'y')) +
        ' with Orthic notation containing ' +
        ('“' + query + '”.')
    }
  }

  function searchForNothing(event) {
    event.preventDefault()

    const form = event.target.form
    const queryInput = form.elements[FormDataKey.query]
    queryInput.value = ''
    // Pretend we clicked "Submit".
    onSubmitFormSearchDictionary(new Event('fake-submit'))
  }

  function onLoad() {
    // Enhance page by enabling to search for dictionary entries.
    const form = document.forms['search-dictionary']
    form.onsubmit = onSubmitFormSearchDictionary
    form.querySelector('#search-dictionary-clear').onclick = searchForNothing
    form.classList.remove('is-hidden')

    window.addEventListener('DOMContentLoaded', runSearchPerUrl)
    window.addEventListener('popstate', runSearchPerUrl)
  }

  function runSearchPerUrl() {
    const didFindQueryParams = populateFormFromQueryParams()
    if (didFindQueryParams) {
      onSubmitFormSearchDictionary(new Event('fake-submit'))
    }
  }

  function populateFormFromQueryParams() {
    const url = new URL(document.URL)
    const params = url.searchParams

    let paramCount = 0
    const form = document.forms['search-dictionary']
    for (const name of Object.values(FormDataKey)) {
      if (params.has(name)) {
        paramCount += 1
        form.elements[name].value = params.get(name)
      }
    }

    return paramCount > 0
  }

  onLoad()
</script>
